
<form (ngSubmit)="handleSubmit()" [formGroup]="form">
    <div class="d-flex flex-column darker-text md-text">
        <div class="d-flex lg-text mb-2 primary-text">Login <a routerLink="signup" class="sm-text ms-auto">Not a user ?</a></div>
        <div>
            <label class="w-100"> User Name: 
                <input type="email" class="app-input" formControlName="email" placeholder="Enter a valid email" (change)="handleChange()"/>
            </label>
            <div class="error-message">
                <div *ngIf="form.get('email')?.invalid && form.get('email')?.dirty || form.get('email')?.touched" class="text-danger sm-text">
                    <div *ngIf="form.get('email')?.errors?.['required']" [@errorMessageState]> User Name field is require </div>
                    <div *ngIf="form.get('email')?.errors?.['email']" [@errorMessageState]> User Name must be a valid emaill address </div>
                </div>
            </div>
        </div>
        <div>
            <label class="w-100"> Password: 
                <input type="password" class="app-input" formControlName="password" placeholder="password" (change)="handleChange()"/>
            </label>
            <div class="error-message">
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.dirty || form.get('password')?.touched" class="text-danger sm-text">
                    <div *ngIf="form.get('password')?.errors?.['required']" [@errorMessageState]> Password field is require </div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-start">
            <div class="error-message xs-text text-danger w-50">{{ formError }}</div>
            <div class="d-flex justify-content-end w-50">
                <button type="submit" class="default-button app-button secondary-bg text-white w-100" [ngClass]="form.invalid ? 'dark-bg unclickable' : 'secondary-bg clickable'" [disabled]="form.invalid">Login</button>
            </div>
        </div>
        
    </div>
</form>
